@model ProductsReportAjaxIndexViewModel
<div class="container">
    <div id="gototop"> </div>
    <div class="row">
        <form asp-action="Index" autocomplete="off" id="form" data-ajax="true" data-ajax-method="post" data-ajax-mode="replacewith" data-ajax-update="#productsreport">
            <input asp-for="ProductsFilter.CategoryId" type="hidden" />
            <div class="row" style="padding-left:70px">


                <div id="sidebar" class="span12">

                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.ProductsFilter.ProductName):
                        <input placeholder="Ürün  Adı" asp-for="ProductsFilter.ProductName" class="form-control" />

                        &nbsp;&nbsp;


                        @Html.DisplayNameFor(model => model.ProductsFilter.UnitPriceBeginText):
                        <input placeholder="Min Tutar" asp-for="ProductsFilter.UnitPriceBeginText" class="form-control" />
                        <span class="input-group-text">-</span>
                        <input placeholder="Max Tutar" asp-for="ProductsFilter.UnitPriceEndText" class="form-control" />
                    </div>

                    <div style="padding-bottom:5px;padding-top:10px;" class="col-12">
                        <button type="submit" class="btn btn-primary" id="search"><i class="fas fa-search"></i> Ara </button>
                        &nbsp;&nbsp;&nbsp;
                        <a asp-action="Index" class="btn btn-info"><i class="fas fa-sync"></i> Temizle </a>
                    </div>
                </div>
            </div>

        </form>

        @await Component.InvokeAsync("Categories", Model.ProductsFilter.CategoryId)
    <div id="productsreport">
        @*@Html.Partial("_ProductsReport", Model)*@ @* ASP.NET Core'da bu kullanılmamalı, bunun async versiyonu veya tag helper'ı kullanılmalı! *@
        @*@await Html.PartialAsync("_ProductsReport", Model)*@
        
        <partial name="_ProductsView" model="Model" />
    </div>


        @*buraya gelecek*@





    </div>
</div>
@*@section Scripts
    {
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        <link href="~/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
        <script src="~/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script>
            $(document).ready(function () {
                // Sıralama
                $(document).on("click", ".orderbyexpressionlink", function (event) { // AJAX kullandığımız için orderbyexpressionlink click event'i bu şekilde tanımlanmalıdır.
                    event.preventDefault();
                    $("#orderbyexpressioninput").val($(this).text()); // tıklanan link'in yazısını alıp input'a yazdırıyoruz.
                    var ascending = $("#orderbydirectioninput").val(); // asc için True, desc için False
                    if (ascending === "True") { // link'e tıkladıkça artanı azalan, azalanı artan olarak değiştiriyoruz.
                        ascending = "False";
                    } else {
                        ascending = "True";
                    }
                    $("#orderbydirectioninput").val(ascending);
                    $("#form").submit();
                });
                $(window).trigger("resize");
            });
        </script>
    }*@


