@model CategoryModel

@{
    ViewData["Title"] = "Kategori Oluştur";
}

<h1 style="text-align:center">@ViewData["Title"]</h1>
<partial name="_CreateEdit" model="Model" />

<div  class="col text-center padding1">
    
    <a class="btn btn-dark center-form" asp-action="Index">Liste'ye Geri Dön</a>
</div>

