@model CategoryModel

@{
    ViewData["Title"] = "Edit Category";
}

<h1>@ViewData["Title"]</h1>

<partial name="_CreateEdit" model="Model" />
<form id="deleteCategoryForm" asp-action="Delete" method="post">
    <input asp-for="Id" type="hidden" />

</form>

<div>
    <button id="deleteCategoryButton" class="btn btn-danger">Delete</button>

</div>
<br>
<a class="btn btn-dark" asp-action="Index">Back to Category List</a>
@section Scripts
{
    <script>
        $(() => {
            $("#deleteCategoryButton").click(function () {
                $("#deleteCategoryForm").submit();
            });
        });

    </script>
}
