@model UserModel

@{
    ViewData["Title"] = "UserDetailEdit";
}



<h4 style="text-align:center;">Şifre Değiştir</h4>
<hr />
<div class="row" style="padding-left:34%;">
    <div class="span9 ">
        @if(TempData["SuccesPassword"] != null)
            {
        <p class="text-success">@TempData["SuccesPassword"]</p>
            }

        <div class="well" style="width:450px">


            <div class="col-md-4">
                <form asp-action="UserDetailEdit">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" readonly />
                        
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                      
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Güncelle" class="btn btn-danger" />
                    </div>
                    <br />
                    <div>
                        <a class="btn btn-light" href="~/Home/Index">Ana Sayfa</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
