
@{ ViewData["Title"] = "Index"; }

@model IEnumerable<Entities.Entites.Product>


@{ ViewData["Title"] = "ÇİÇEK LİSTESİ"; }



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Twitter Bootstrap shopping cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  
  
</head>
<body>
    <!--
        Upper Header Section
    -->
    


    <!--
    Lower Header Section
    -->
    <div class="container">
        <div id="gototop"> </div>

        <!--
        Navigation Bar Section
        -->
        <!--
        Body Section
        -->
        <div class="row">
            





            @await Component.InvokeAsync("Categories")











            <div class="span9">
                <div class="well np">
                    <div id="myCarousel" class="carousel slide homCar">
                        <div class="carousel-inner">
                            <div class="item active">
                                <img style="width:100%" src="~/img/Cicek1.png" alt="bootstrap ecommerce templates">
                                <div class="carousel-caption">
                                    <h4>Çiçek Çeşitleri  </h4>
                                    <p><span>Çeşitli, Canlı, Renkli, Farklı, Göz Alıcı...  </span></p>
                                </div>
                            </div>
                            <div class="item">
                                <img style="width:100%" src="~/img/Cicek2.png" alt="bootstrap ecommerce templates">
                                <div class="carousel-caption">
                                    <h4>Çiçek Çeşitleri  </h4>
                                    <p><span>Çeşitli, Canlı, Renkli, Farklı, Göz Alıcı...</span></p>
                                </div>
                            </div>


                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
                <!--
                New Products
                -->
                <!--
                Featured Products
                -->



            </div>
        </div>
        <!--
        Clients
        -->
        <section class="our_client">
            <hr class="soften" />
            <h4 class="title cntr"><span class="text">MARKALAR</span></h4>
            <hr class="soften" />
            <div class="row">
                <div class="span2">
                    <a href="#"><img alt="" src="~/img/1.png"></a>
                </div>
                <div class="span2">
                    <a href="#"><img alt="" src="~/img/2.png"></a>
                </div>
                <div class="span2">
                    <a href="#"><img alt="" src="~/img/3.png"></a>
                </div>
                <div class="span2">
                    <a href="#"><img alt="" src="~/img/4.png"></a>
                </div>
                <div class="span2">
                    <a href="#"><img alt="" src="~/img/5.png"></a>
                </div>
                <div class="span2">
                    <a href="#"><img alt="" src="~/img/6.png"></a>
                </div>
            </div>
        </section>

        <!--
        Footer
        -->

    </div><!-- /container -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing-1.3.min.js"></script>
    <script src="assets/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="assets/js/shop.js"></script>
</body>
</html>


