@*<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Online Çiçek Sepeti</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap styles -->
    <link href="~/css/bootstrapCS.css" rel="stylesheet" />


    <!-- Customize styles -->
    <link href="~/css/styleCS.css" rel="stylesheet" />
    <!-- font awesome styles -->
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/font-awesome-ie7.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/ico/favicon.ico">

    <link href="~/css/fontawesome-iconpicker.css" rel="stylesheet" />
    <link href="~/css/fontawesome-iconpicker.min.css" rel="stylesheet" />


    <link href="~/layout/syles/fontawesome-free/css/fontawesome-all.min.css" rel="stylesheet" />
</head>
<body>




    <!--
        Upper Header Section
    -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="topNav">
            <div class="container">
                <div class="alignR">
                    <div class="pull-left socialNw">
                        <a href="#"><span class="icon-twitter"></span></a>
                        <a href="#"><span class="icon-facebook"></span></a>
                        <a href="#"><span class="icon-youtube"></span></a>
                        <a href="#"><span class="icon-tumblr"></span></a>
                    </div>
                    <a class="active" href="~/Home/Index"> <span class="icon-home"></span> Ana Sayfa </a>
                    @if (User.Identity.IsAuthenticated)
                    {


        <a asp-action="UserDetailEdit" asp-controller="Account" asp-route-UserId="@User.Identity.Name"><span class="icon-user"></span> Hesabım</a>
                        <a asp-action="Index" asp-controller="Cart"><span class="icon-shopping-cart"></span> Sepetim </a>
                                        <a asp-controller="Home" asp-action="Contact"><span class="icon-envelope"></span> Bize Ulaşın </a>}

                    @if (!User.Identity.IsAuthenticated)
                    {
        <a href="~/Account/Register"><span class="icon-edit"></span> Ücretsiz Üye Ol! </a>}



                </div>
            </div>
        </div>
    </div>

    <!--
    Lower Header Section
    -->
    <div class="container">
        <div id="gototop"> </div>



        <header id="header">
            <div class="row">
                <div class="span4">
                    <h1>
                        <a class="logo" href="~/Home/Index">
                            <span>Twitter Bootstrap ecommerce template</span>
                            <img src="~/img/deneme25.png" alt="bootstrap sexy shop">
                        </a>
                    </h1>
                </div>
                <div class="span4">

                </div>
                <div style="padding-top:15px;" class="span4 alignR">

                    <p><br> <strong> İletişim (7/24) :  0553 275 19 25</strong><br><br></p>
                    @*<span class="btn btn-mini">[ @ViewBag.Count ] <span class="icon-shopping-cart"></span></span>*@
                </div>
            </div>
        </header>

        <!--
        Navigation Bar Section
        -->
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="~/Home/Index">Ana Sayfa	</a></li>
                            <li class=""> <a asp-action="Index" asp-controller="Products"><i class="fas fa-archive"></i> Ürünler</a></li>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                        <li class=""><a href="~/Categories/Index">Kategori</a></li>
                                        }





                        </ul>
                        @if (!User.Identity.IsAuthenticated)
                        {
            <ul class="nav pull-right">
                <li class="">
                    <a href="~/Account/Login"><span class="icon-signin"></span> Giriş </a>
                </li>
                <li class="">
                    <a href="~/Account/Register"><span class="icon-user"></span> Üye Ol </a>
                </li>
            </ul> }
        else
        {
<ul class="nav pull-right">
    <li class="">
        <a style="color:black;"><span class="icon-user"></span> Sayın @User.Identity.Name Hoşgeldiniz. </a>
    </li>
    <li class="">
        <a asp-action="Logout" asp-controller="Account"><span class="icon-signout"></span> Çıkış </a>
    </li>
</ul>}

                    </div>
                </div>
            </div>
        </div>
        <!--
        Body Section
        -->
        <!--
        Clients
        -->
        <!--
        Footer
        -->



    </div><!-- /container -->
    <!-- Placed at the end of the document so the pages load faster -->
    <div class="">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>
    <footer class="footer container ">
        <div class="row-fluid">
            <div class="span2">
                <h5>HESAP</h5>
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="~/Account/UserDetailEdit">Hesabınız</a><br>
                }

                
                <a href="~/Home/Contact">Adres</a><br>

            </div>
            <div class="span2">
                <h5>İLETİŞİM</h5>
                <a href="~/Home/Contact">İletişim</a><br>
                <a href="~/Home/Index">Site</a><br>

              
            </div>
            <div class="span2">
                <h5>DİĞER OLAYLAR</h5>
                <a href="~/Products/Index">Ürünler</a> <br>
               

            </div>
            <div class="span6">
                <h5>Online Alışveriş İçin Çiçek Sepeti</h5>
                Birbirinden farklı, canlı, uygun fiyatlı, yenilebilir vs.. çiçeklere
                ulaşmak artık çok kolay.İndirimli fiyatlardan yararlanabilmek için lütfen üye olunuz!
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="container">
            <p class="pull-right">
                <a href="#"><img src="~/img/maestro.png" alt="payment"></a>
                <a href="#"><img src="~/img/mc.png" alt="payment"></a>
                <a href="#"><img src="~/img/pp.png" alt="payment"></a>
                <a href="#"><img src="~/img/visa.png" alt="payment"></a>
                <a href="#"><img src="~/img/disc.png" alt="payment"></a>
            </p>
            <span>Deniz Yıldırım &copy; 2021<br> Online Çiçek Sepeti</span>
        </div>
    </div>
    <a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
    <script src="~/js/fontawesome-iconpicker.min.js"></script>
    <script src="~/js/fontawesome-iconpicker.js"></script>
    <script src="~/jsCS/jquery.js"></script>
    <script src="~/jsCS/bootstrap.min.js"></script>
    <script src="~/jsCS/jquery.easing-1.3.min.js"></script>
    <script src="~/jsCS/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="~/jsCS/shop.js"></script>
</body>
</html>








@*<div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo"> <a href="index.html"><img src="images/logo.png" alt="#"></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <div class="menu-area">
                        <div class="limit-box">
                            <nav class="main-menu">
                                <ul class="menu-area-main">
                                    <li class="active">  <a class="nav-link text-dark " asp-area="" asp-controller="Home" asp-action="Index">Home</a> </li>
                                    <li> <a class="nav-link text-dark " asp-area="" asp-controller="Products" asp-action="Index">Products</a></li>
                                    <li><a class="nav-link text-dark " asp-area="" asp-controller="Categories" asp-action="Index">Categories</a></li>

                                    <li class="last"><a href="#"><img src="images/search_icon.png" alt="icon" /></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@*<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom:0px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarNav" aaaaa
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link text-dark " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item" style="text-align:right;">
                        <a class="nav-link text-dark " asp-area="" asp-controller="Categories" asp-action="Index">Kategoriler</a>
                    </li>
                    <li class="nav-item">
                    <li><a class="nav-link text-dark " asp-area="" asp-controller="Products" asp-action="Index">Ürünler</a></li>
                    <li class="nav-item">
                    <li><a class="nav-link text-dark " asp-area="" asp-controller="Account" asp-action="Register">Üye Ol</a></li>


                </ul>
            </div>
        </div>
    </nav>*@




<style>
    div.center-form {
        padding-top: 3px;
        padding-bottom: 3px;
        margin: 0 auto;
        float: none;
        background-color: #f2f2f2;
    }

    .padding1 {
        padding-top: 1%;
        padding-bottom: 1%;
    }
</style>








<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/plugin.js"></script>




<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>

@await RenderSectionAsync("Scripts", required: false)
<partial name="_ValidationScriptsPartial" />

